body
{
    color: crimson;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    color: crimson;
    text-align: left;
    font-family: "Courier";
    border: 1px solid cadetblue;
    margin: 0 auto;
    padding: 1em;
}
#container h1
{
    font-size: 20px;
}